@import '/src/styles/colors.scss';

root {
  scroll-padding-top: 240px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Square 721 Regular";
  src: url('./fonts/Square 721 Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'DejaVu Sans Bold';
  src: url('./fonts/DejaVu Sans Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'DejaVu Sans Condensed Bold';
  src: url('./fonts/DejaVu Sans Condensed Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'DejaVu Sans ExtraLight';
  src: url('./fonts/DejaVu Sans ExtraLight.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: '"Square 721 Regular"', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1rem;
  overflow-x: hidden;
  background: #fffcf9;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sz-session--service .sz-session__card {
  color: #8ec9ee;
}

$session-room-bg-color:#565656;
$session-room-color:#f0f0f0;
$coffee-break-bg-color:#2f2f2f;

/* Registration */
#sz-tab-45110 > div > div:nth-child(10) > div {
  background-color: #26547c !important;
}

/* Monday Keynote */
#sz-tab-45110 > div > div:nth-child(13) > div {
  background-color: #34bb9c !important;
}
#sz-tab-45110 > div > div:nth-child(19) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(13) > div > h3 {
  color: #288572;
}

#sz-tab-45110 > div > div:nth-child(13) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Coffee break */
#sz-tab-45110 > div > div:nth-child(22) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(22) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(22) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(22) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Coffee Break */
#sz-tab-45110 > div > div:nth-child(19) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(19) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(19) > div > div > div.sz-session__time {
  color: #f0f0f0;
}
/* session break */
#sz-tab-45110 > div > div:nth-child(34) > div {
  background-color: #2f2f2f !important;
}
#sz-tab-45110 > div > div:nth-child(34) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}
#sz-tab-45110 > div > div:nth-child(34) > div > h3 {
  color: #f0f0f0;
}
#sz-tab-45110 > div > div:nth-child(34) > div > div > div.sz-session__time{
  color:#f0f0f0;
}

/* Lunch */
#sz-tab-45110 > div > div:nth-child(46) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(46) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(46) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(46) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Session break */
#sz-tab-45110 > div > div:nth-child(58) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

/* Coffee break */
#sz-tab-45110 > div > div:nth-child(69) > div {
  background-color: #2f2f2f !important;
}


#sz-tab-45110 > div > div:nth-child(69) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(69) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(69) > div > div > div.sz-session__time {
  color: #f0f0f0;
}


/* pre-party */
#sz-tab-45110 > div > div:nth-child(96) > div {
  background-color: #26547c !important;
}

#sz-tab-45110 > div > div:nth-child(96) > div > div > div.sz-session__time{
  color:#f0f0f0;
}

/* Coffee break */
#sz-tab-45110 > div > div:nth-child(85) > div {
  background-color: $coffee-break-bg-color !important;
}

#sz-tab-45110 > div > div:nth-child(85) > div > div > div.sz-session__room{
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(85) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(85) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Networking Party */
#sz-tab-45110 > div > div:nth-child(99) > div {
  background-color: #34bb9c !important;
}
#sz-tab-45110 > div > div:nth-child(99) > div > div > div.sz-session__room{
  background-color: #288a73;
  color:$session-room-color;
}

#sz-tab-45110 > div > div:nth-child(99) > div > h3 {
  color: #288572;
}

#sz-tab-45110 > div > div:nth-child(99) > div > div > div.sz-session__time {
  color: #288572;
}

.sz-session--service .sz-session__card {
  color: #8ec9ee;
}


/* Registration */
#sz-tab-45110 > div > div:nth-child(10) > div {
  background-color: #26547c !important;
}

#sz-tab-45111 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--36973 > div > div > div.sz-session__time {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--36973 > div {
  background-color: #26547c !important;
}

/* Monday Keynote */
#sz-tab-45110 > div > div:nth-child(13) > div {
  background-color: #34bb9c !important;
}

#sz-tab-45110 > div > div:nth-child(13) > div > h3 {
  color: #288572;
}

#sz-tab-45110 > div > div:nth-child(13) > div > div > div.sz-session__time {
  color: #288572;
}

/* Coffee Break */
#sz-tab-45110 > div > div:nth-child(19) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(19) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(19) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Lunch */
#sz-tab-45110 > div > div:nth-child(45) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(45) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(45) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Day two: lunch */
#sz-tab-45111 > div > div:nth-child(58) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45111 > div > div:nth-child(58) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(58) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(58) > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

/* Session break */
#sz-tab-45110 > div > div:nth-child(58) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45110 > div > div:nth-child(58) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45110 > div > div:nth-child(58) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* pre-party */
#sz-tab-45110 > div > div:nth-child(82) > div {
  background-color: #26547c !important;
}

/* Networking Party */
#sz-tab-45110 > div > div:nth-child(86) > div {
  background-color: #34bb9c !important;
}

#sz-tab-45110 > div > div:nth-child(86) > div > h3 {
  color: #288572;
}

#sz-tab-45110 > div > div:nth-child(86) > div > div > div.sz-session__time {
  color: #288572;
}

/* Day two: session break */
#sz-tab-45111 > div > div:nth-child(22) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45111 > div > div:nth-child(22) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(22) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(22) > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

/* Day 2: session break */
#sz-tab-45111 > div > div:nth-child(34) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45111 > div > div:nth-child(34) > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45111 > div > div:nth-child(34) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(34) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Day 2: session break */
#sz-tab-45111 > div > div:nth-child(46) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45111 > div > div:nth-child(46) > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45111 > div > div:nth-child(46) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(46) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* day two: coffee break */
#sz-tab-45111 > div > div:nth-child(79) > div {
  background-color: #2f2f2f !important;
}

#sz-tab-45111 > div > div:nth-child(79) > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45111 > div > div:nth-child(79) > div > h3 {
  color: #f0f0f0;
}

#sz-tab-45111 > div > div:nth-child(79) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Closing keynote */
#sz-tab-45111 > div > div:nth-child(97) > div {
  background-color: #26547c !important;
}

#sz-tab-45111 > div > div:nth-child(97) > div > div > div.sz-session__room {
  background-color: #3384c9;
}

#sz-tab-45111 > div > div:nth-child(97) > div > div > div.sz-session__time {
  color: #f0f0f0;
}

/* Closing ceremony */
#sz-tab-45111 > div > div:nth-child(100) > div {
  background-color: #34bb9c !important;
}

#sz-tab-45111 > div > div:nth-child(100) > div > div > div.sz-session__room {
  background-color: #2a967d;
}

#sz-tab-45111 > div > div:nth-child(100) > div > h3 {
  color: #288572;
}

#sz-tab-45111 > div > div:nth-child(100) > div > div > div.sz-session__time {
  color: #288572;
}

/* Day three: reception */
#sz-tab-45112 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--36973 > div{
  background-color: #26547c !important;
}

/* day three: coffee break */
#sz-tab-45112 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--31276 > div{
  background-color: #2f2f2f !important;
}

#sz-tab-45112 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--31276 > div > div > div.sz-session__room {
  background-color: $session-room-bg-color;
  color:$session-room-color;
}

#sz-tab-45112 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--31276 > div > div > div.sz-session__time{
  color: #f0f0f0;
}

#sz-tab-45112 > div > div.sz-session.sz-session--cssgrid.sz-session--limit-heading.sz-session--plenum.sz-session--service.sz-room--31276 > div > h3{
  color: #f0f0f0;
}

