$session-room-bg-color: #565656;
$session-room-color: #f0f0f0;
$coffee-break-bg-color: #2f2f2f;

$green-background: #34bb9c;
$green-font-color: #288572;

$brown-background: #85664e;
$brown-font-color: #5e4d3b;